$accentColor = #2A9D8F   //  主题颜色
$textColor = #264653     // default  文本颜色
$borderColor = #eaecef    // default 边框线颜色
$codeBgColor = #2C3A3F  // default 代码块背景色
$backgroundColor = #ffffff// default 悬浮块背景色

$boxShadow = 0 1px 2px 0 $darkColor2
$boxShadowHover = 0 8px 28px 0 $darkColor2
